/* Hyperlegible Font Face */
@font-face {
	font-family: "Hyperlegible";
	src: url("../fonts/AtkinsonHyperlegibleNext-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* Hyperlegible Bold */
@font-face {
	font-family: "Hyperlegible";
	src: url("../fonts/AtkinsonHyperlegibleNext-Medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

/* Hyperlegible Italic */
@font-face {
	font-family: "Hyperlegible";
	src: url("../fonts/AtkinsonHyperlegibleNext-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}