/* #region reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: none;
	
}
/* #endregion */

html{
	/* #region hide scrollbar */
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	/* #endregion */

	background-color: var(--background);
	font-family: "Hyperlegible", sans-serif;
	color: var(--dark);
}

header, footer{
	height: 50px;
}

header{
	border-bottom: 6px solid var(--dark);

	margin-bottom: 10px;
	
	nav {
		height: 100%;
		border-bottom: 2px solid var(--dark);
		padding-bottom: 8px;
		display: flex;
		align-items: flex-end; /* bottom-align the links */
		gap: 12px;
		justify-content: center;		

		a {
			display: inline-block;
			text-transform: uppercase;
			min-width: 85px;
			background-color: var(--gray);
			padding: 6px;
			font-size: 14px;

			margin-bottom: 10px;

			box-shadow: var(--shadow-nav);

			&.active-page{
				margin-bottom: 0;
				padding-bottom: 16px;
				background-color: var(--dark);
				color: var(--light);
				box-shadow: none;
			}
		}
	}
}

.container{
	display: flex;
}

main{
	box-sizing: border-box;
	width: 100%;
	background-color: green;
	height: 100px;

	section{
		margin: 0 20px;
		margin-bottom: 20px;
		min-height: 200px;
		background-color: var(--light);

		.section-content{
			padding: 20px 14px;
		}
	}
}

aside{
	box-sizing: border-box;
	background-color: yellow;
	width: 40px;
}

h1{
	font-size: 36px;
	margin: 20px;
	text-shadow: var(--shadow-h1);
	em{
		font-size: 15px;
		text-shadow: none;
	}
}

h2{
	display: block;
	font-size: 20px;
	background-color: var(--dark);
	color: var(--light);
	padding: 6px 4px;
}

.h3-box{
	border-top: 2px solid var(--gray);
	border-bottom: 2px solid var(--gray);
	padding: 2px 0;
	h3{
		display: block;
		font-size: 15px;
		background-color: var(--gray);
		color: var(--dark);
		padding: 6px 4px;
	}
	margin-top: 16px;
	margin-bottom: 10px;
}

p{
	font-size: 10px;
	margin-bottom: 6px;
}

.image-box{
	border-top: 2px solid var(--gray);
	border-bottom: 2px solid var(--gray);
	padding: 2px 0;
	div{
		display: block;
		background-color: var(--gray);
		color: var(--dark);
		padding: 4px;

		img{
			width: 100%;
			height: auto;

			filter: sepia();
		}

		p{
			font-size: 8px;
			margin-top: 4px;
			text-align: center;
			margin: 2px;
			font-style: italic;
		}
	}
	
}


footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 6px solid var(--dark);

	margin-bottom: 6px;
	.footer-line{
		border-top: 2px solid var(--dark);
		margin-top: 2px;
		height: 100%;
		display: block;

		div{
				display: block;
				background-color: var(--gray);
				align-content: center;
				width: calc(100% - 12px);
				height: calc(100% - 12px);
				margin: 6px;
			p{
				text-align: center;
				font-size: 12px;
				
			}
		}
	}
}

