/* #region reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: none;
	
}
/* #endregion */

html{
	background-color: var(--background);
	font-family: "Hyperlegible", sans-serif;
	color: var(--dark);
}

header, footer{
	height: 50px;
	/* //background-color: red; */
}

header{
	border-bottom: 4px solid var(--dark);
	
	nav {
		height: 100%;
		border-bottom: 1px solid var(--dark);
		padding-bottom: 5px;
		display: flex;
		align-items: flex-end; /* bottom-align the links */
		gap: 8px;
		justify-content: center;		

		a {
			display: inline-block;
			text-transform: uppercase;
			min-width: 85px;
			background-color: var(--gray);
			padding: 6px;
			font-size: 14px;

			margin-bottom: 10px;

			box-shadow: var(--shadow-nav);

			&.active-page{
				margin-bottom: 0;
				padding-bottom: 16px;
				background-color: var(--dark);
				color: var(--light);
				box-shadow: none;
			}
		}
	}
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 4px solid var(--dark);
	.footer-line{
		border-top: 1px solid var(--dark);
		margin-top: 1px;
		height: 100%;
		display: block;

		div{
				display: block;
				background-color: var(--gray);
				align-content: center;
				width: calc(100% - 10px);
				height: calc(100% - 10px);
				margin: 5px;
			p{
				text-align: center;
				font-size: 12px;
				
			}
		}
	}
}

main{
	background-color: green;
	height: 100px;
	margin: 10px;
}