/* #region reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: none;
	
}
/* #endregion */

html{
	/* #region hide scrollbar */
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	/* #endregion */

	background-color: var(--background);
	font-family: "Hyperlegible", sans-serif;
	color: var(--dark);

	scroll-behavior: smooth;
}

header, footer{
	height: 50px;
}

header{
	border-bottom: 6px solid var(--dark);

	margin-bottom: 10px;
	
	nav {
		height: 100%;
		border-bottom: 2px solid var(--dark);
		padding-bottom: 8px;
		display: flex;
		align-items: flex-end; /* bottom-align the links */
		gap: 12px;
		justify-content: center;		

		a {
			display: inline-block;
			text-transform: uppercase;
			min-width: 85px;
			background-color: var(--gray);
			padding: 6px;
			font-size: 14px;

			margin-bottom: 10px;

			box-shadow: var(--shadow-box);

			&.active-page{
				margin-bottom: 0;
				padding-bottom: 16px;
				background-color: var(--dark);
				color: var(--light);
				box-shadow: none;
			}
		}
	}
}

.anchor-link{
	display: block;
	position: relative;
	top: -15px;
	visibility: hidden;
}

.container{
	display: flex;
}

main{
	box-sizing: border-box;
	width: 100%;
	/* background-color: green; */

	section{
		/* margin: 0 20px; */
		margin-left: 20px;
		margin-right: 4px; /* to compensate for box shadow */
		margin-bottom: 20px;
		min-height: 400px;
		background-color: var(--light);

		.section-content{
			padding: 20px 14px;
		}

		box-shadow: var(--shadow-box);
	}
}

.aside-spacer{
	width: 60px;
}

aside{
	box-sizing: border-box;
	/* background-color: yellow; */
	width: 52px; /* i dont know why it doesn't have same width as spacer */
	padding-top: 24px;

	position: fixed;
	@supports (top: max(0px, 1px)) {
		top: max(0px, 115px - (var(--scrolltop) * 1px) );
	}

	right: 0;

	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content; /* size the grid row to the intrinsic height of .circles */
	
	/* grid children */
	div{
		grid-row-start: 1;
		grid-column-start: 1;
	}

	.bar{
		width: 6px;
		background-color: var(--gray);
		align-self: stretch; /* stretch to match the grid row height (driven by .circles) */
		justify-self: center;
		margin: 0 auto;
	}
	
	.circles{
		display: flex;
		flex-direction: column;
		gap: 40px;
		a{
			background-color: var(--dark);
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			margin: 0 auto;
			box-sizing: border-box;

			transition: ease-in-out 0.2s all;

			&.active{
				scale: 150%;
				background-color: var(--light);
				border: 4px solid var(--accent);
			}
		}
	}
}

h1{
	font-size: 36px;
	margin: 20px;
	text-shadow: var(--shadow-h1);
	em{
		font-size: 15px;
		text-shadow: none;
	}
}

h2{
	display: block;
	font-size: 20px;
	background-color: var(--dark);
	color: var(--light);
	padding: 6px 4px;
}

.h3-box{
	border-top: 2px solid var(--gray);
	border-bottom: 2px solid var(--gray);
	padding: 2px 0;
	h3{
		display: block;
		font-size: 15px;
		background-color: var(--gray);
		color: var(--dark);
		padding: 6px 4px;
	}
	margin-top: 16px;
	margin-bottom: 10px;
}

p{
	font-size: 11px;
	margin-bottom: 12px;
	line-height: 1.4em;
	&>a{
		color: var(--light);
		font-style: italic;
		background-color: var(--accent);
		padding: 1px 2px;
		white-space: nowrap;
	}

	&>em{
		white-space: nowrap;
		font-weight: bold;
	}
}

a.button{
	display: block;
	width: min-content;
	margin-left: auto;
	margin-top: 10px;

	border-left: 2px solid var(--accent);

	p{
		display: flex;
		align-items: center;;

		min-width: 120px;
		background-color: var(--accent);
		color: var(--light);
		font-size: 14px;
		margin: 0;
		margin-left: 2px;
		padding: 8px 8px;
	}
}

.image-box{
	border-top: 2px solid var(--gray);
	border-bottom: 2px solid var(--gray);
	padding: 2px 0;
	margin: 4px 0;
	div{
		display: block;
		background-color: var(--gray);
		color: var(--dark);
		padding: 4px;

		img{
			width: 100%;
			max-width: 400px;
			height: auto;

/* 			transition: all 0.2s linear;

			filter: brightness(73%) contrast(65%) saturate(0%) grayscale(100%) sepia(61%) hue-rotate(352deg);
			&:hover, &:active{
				filter: brightness(100%) contrast(100%) saturate(100%) grayscale(0%) sepia(0%) hue-rotate(0deg);
			} */
		}

		p{
			font-size: 8px;
			margin-top: 4px;
			text-align: center;
			margin: 2px;
			font-style: italic;
		}
	}
	
}


footer{
	width: 100%;
	border-top: 6px solid var(--dark);

	margin-bottom: 6px;
	.footer-line{
		border-top: 2px solid var(--dark);
		margin-top: 2px;
		height: 100%;
		display: block;

		div{
				display: block;
				background-color: var(--gray);
				align-content: center;
				width: calc(100% - 12px);
				height: calc(100% - 12px);
				margin: 6px;
			p{
				text-align: center;
				font-size: 12px;
				margin: 0;
				
			}
		}
	}
}